.background-principal {
    -fx-background-image: url('../images/fundo_arena.jpg');


    -fx-background-size: cover;          /* Redimensiona a imagem para cobrir a área */
    -fx-background-repeat: no-repeat;    /* Impede a repetição */
    -fx-background-position: center center; /* Centraliza a imagem */

    /* garante que o fundo se espalhe por toda a tela */
    -fx-background-color: transparent;   /* Garante que não haja uma cor de fundo*/
}
.play-button {
    -fx-font-size: 30px;
    -fx-padding: 20px 50px;
    -fx-background-color: #FFD700; /* Dourado */
    -fx-text-fill: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.play-button:hover {
    -fx-background-color: #FFC000; /* Dourado mais escuro ao passar o mouse */
}
.button-battle {
    -fx-background-image: url('../images/BattleButton.png'); /* Caminho para imagem */
    -fx-background-size: contain; /* Ajusta a imagem dentro do botão, mantendo proporção */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; /* torna o fundo do JavaFX transparente */

    /* Define o tamanho do botão para corresponder ao tamanho da imagem */
    -fx-pref-width: 250px; /* Ajusta largura da imagem */
    -fx-pref-height: 100px; /* Ajusta altura da imagem */

    -fx-padding: 0; /* Remove qualquer preenchimento extra que o botão JavaFX possa ter */
    -fx-text-fill: transparent; /* Se tiver texto no botão JavaFX,deixa invisível */
}

/*Efeito ao passar o mouse */
.button-battle:hover {
    -fx-opacity: 0.9; /* Deixa o botão um pouco transparente  */
    -fx-cursor: hand; /* Muda o cursor para uma mãozinha */
}

.background-app {
    -fx-background-image: url('../images/clashBackGround.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}